<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>597179826863-e1j62j6psjv06c9aoss32c9qsrrdtj3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597179826863-e1j62j6psjv06c9aoss32c9qsrrdtj3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAKwkAj1GqyXr67MbdadxE3OV6cTuFEJdA</string>
	<key>GCM_SENDER_ID</key>
	<string>597179826863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flonix.Selector</string>
	<key>PROJECT_ID</key>
	<string>selector-b46b4</string>
	<key>STORAGE_BUCKET</key>
	<string>selector-b46b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597179826863:ios:ebf6818d158d6be9</string>
	<key>DATABASE_URL</key>
	<string>https://selector-b46b4.firebaseio.com</string>
</dict>
</plist>